/* Ordered CSS by selector type and then in descending order as you go down the page for each type of selector */ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 and header element css added for elements rather than classes used originally */

h1 {
    font-size: 48px;
    display: inline-block
}

/* changed below to nav element as opposed to header div class */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* consolidated nav css */
nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* consolidated CSS in main section to just use h2 element selector for headings */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* able to consolidate CSS by just using h3 tag to style aside heading */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

/* footer tag added for semantic html so css changed to match */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* removed header class from this as added class to figure tag */
.seo {
    color: #d9dcd6;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated css so the three sections in main tag and their image under one class rather than 3 separate */
.feature-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.feature-section img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* same as above, consolidated css for benefits class and other class used in the aside section due to replication across this section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.lead-brand-cost {
    margin-bottom: 32px;
    color: #ffffff;
}